.transport h1{
    font-size: 150px;
    
}
.transport{
    text-align: center;
    color: black;
    border: 1px solid purple;
    border-radius: 1.7em;
    margin: .5em;
}
.transport img{
    padding: 2.5em 2.5em .5em 2.5em;
}


.transportTypeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.main-conatainer{
    height: 90vh;        
    position: absolute;
    background-image: url('../../images/delivery5.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
    
    .transportTypeContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
}
@media only screen and (max-width: 768px) {
    
    .transportTypeContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
}
