.transport h1{
    font-size: 150px;
    
}
.transport{
    text-align: center;
    color: black;
    border: 1px solid purple;
    border-radius: 1.7em;
    margin: .5em;
}

.transportTypeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}